In [2]:
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))


addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (division by zero)"
modulus = num1 % num2 if num2 != 0 else "Undefined (modulus by zero)"
exponent = num1 ** num2

print(f"Addition: {num1} + {num2} = {addition}")
print(f"Subtraction: {num1} - {num2} = {subtraction}")
print(f"Multiplication: {num1} * {num2} = {multiplication}")
print(f"Division: {num1} / {num2} = {division}")
print(f"Modulus: {num1} % {num2} = {modulus}")
print(f"Exponentiation: {num1} ** {num2} = {exponent}")

Enter the first integer:  10
Enter the second integer:  5

Addition: 10 + 5 = 15
Subtraction: 10 - 5 = 5
Multiplication: 10 * 5 = 50
Division: 10 / 5 = 2.0
Modulus: 10 % 5 = 0
Exponentiation: 10 ** 5 = 100000

In [3]:
import numpy as np
numbers = [12, 45, 23, 89, 4, 67, 33, 21, 90, 56]

print(f"Length of the list: {len(numbers)}")
      
print(f"Maximum value: {max(numbers)}")
print(f"Minimum value: {min(numbers)}")

numbers.append(100)
print(f"List after adding 100: {numbers}")

numbers.remove(23)
print(f"List after removing 23: {numbers}")


ascending = sorted(numbers)
print(f"Sorted in ascending order: {ascending}")

descending = sorted(numbers, reverse=True)
print(f"Sorted in descending order: {descending}")

arr = np.array(numbers)

mean_val = np.mean(arr)
median_val = np.median(arr)
std_val = np.std(arr)

print("\n--- NumPy Calculations ---")
print(f"Mean: {mean_val}")
print(f"Median: {median_val}")
print(f"Standard Deviation: {std_val}")

Length of the list: 10
Maximum value: 90
Minimum value: 4
List after adding 100: [12, 45, 23, 89, 4, 67, 33, 21, 90, 56, 100]
List after removing 23: [12, 45, 89, 4, 67, 33, 21, 90, 56, 100]
Sorted in ascending order: [4, 12, 21, 33, 45, 56, 67, 89, 90, 100]
Sorted in descending order: [100, 90, 89, 67, 56, 45, 33, 21, 12, 4]

--- NumPy Calculations ---
Mean: 51.7
Median: 50.5
Standard Deviation: 32.60690111004111

In [1]:

student = {
    "name": "Rahul",
    "age": 21,
    "course": "Data Science",
    "marks": 88
}

print("Student Details:")
for key, value in student.items():
    print(f"{key}: {value}")

student["grade"] = "A"
print("\nUpdated Dictionary with Grade:")
print(student)

courses = {"Python", "Data Science", "AI", "Python"}
print("\nUnique Courses Set:")
print(courses)

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("\nUnion of sets:", set1 | set2)
print("Intersection of sets:", set1 & set2)
print("Difference of sets (set1 - set2):", set1 - set2)
print("Difference of sets (set2 - set1):", set2 - set1)

Student Details:
name: Rahul
age: 21
course: Data Science
marks: 88

Updated Dictionary with Grade:
{'name': 'Rahul', 'age': 21, 'course': 'Data Science', 'marks': 88, 'grade': 'A'}

Unique Courses Set:
{'Python', 'AI', 'Data Science'}

Union of sets: {1, 2, 3, 4, 5, 6}
Intersection of sets: {3, 4}
Difference of sets (set1 - set2): {1, 2}
Difference of sets (set2 - set1): {5, 6}

In [2]:

data = """Rahul, Data Science, 82
Anjali, Python, 67
Mohit, AI, 91
Sneha, Machine Learning, 74
Arjun, Cyber Security, 88"""

with open("student_data.txt", "w") as file:
    file.write(data)

print("Data written to student_data.txt successfully!")

print("\nStudents with marks above 75:")

with open("student_data.txt", "r") as file:
    for line in file:
        name, course, marks = line.strip().split(", ")
        marks = int(marks)

        if marks > 75:
            print(f"Name: {name}, Course: {course}, Marks: {marks}")

Data written to student_data.txt successfully!

Students with marks above 75:
Name: Rahul, Course: Data Science, Marks: 82
Name: Mohit, Course: AI, Marks: 91
Name: Arjun, Course: Cyber Security, Marks: 88

In [4]:
student = {
    "name": "Rahul",
    "age": 21,
    "course": "Data Science",
    "marks": 88
}


print("Student Details:")
for key, value in student.items():
    print(f"{key}: {value}")

# Adding a new key called grade
student["grade"] = "A"
print("\nUpdated Dictionary with Grade:")
print(student)



courses = {"Python", "Data Science", "AI", "Python"}
print("\nUnique Courses Set:")
print(courses)

# Two sample sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}


print("\nSet Operations:")
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)
print("Difference (set2 - set1):", set2 - set1)



data = """Rahul, Data Science, 82
Anjali, Python, 67
Mohit, AI, 91
Sneha, Machine Learning, 74
Arjun, Cyber Security, 88"""


with open("student_data.txt", "w") as file:
    file.write(data)

print("\nData written to student_data.txt successfully!")


print("\nStudents with marks above 75:")

with open("student_data.txt", "r") as file:
    for line in file:
        name, course, marks = line.strip().split(", ")
        marks = int(marks)

        if marks > 75:
            print(f"Name: {name}, Course: {course}, Marks: {marks}")

Student Details:
name: Rahul
age: 21
course: Data Science
marks: 88

Updated Dictionary with Grade:
{'name': 'Rahul', 'age': 21, 'course': 'Data Science', 'marks': 88, 'grade': 'A'}

Unique Courses Set:
{'Python', 'AI', 'Data Science'}

Set Operations:
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}
Difference (set2 - set1): {5, 6}

Data written to student_data.txt successfully!

Students with marks above 75:
Name: Rahul, Course: Data Science, Marks: 82
Name: Mohit, Course: AI, Marks: 91
Name: Arjun, Course: Cyber Security, Marks: 88